*.exe
*.test
__debug_bin
pkg/
bin/
src/github.com
src/golang.org
src/cloud.google.com
src/firebase.google.com
src/go.opencensus.io
src/google.golang.org
application
*.zip
.config
.vscode/launch.json
Dockerfile
