<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="noun_Swan_3263882.svg">
    <title>Advert Info | SWAN Demo</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <script src="/owid.js" type="text/javascript"></script>
    <link href="/info.css" rel="stylesheet">
</head>
<body class="text-center">
    <main>
        <h1 class="h3 mb-3 font-weight-normal">Advert Information</h1>
        <figure class="mt-6 mb-6">
            {{ if .Bid }}
            <img style="width: 100%;" src="//{{ .Bid.MediaURL }}" />
            {{ end }}
            <figcaption>Advert</figcaption>
        </figure>
        <a class="my-4 btn btn-secondary text-center" href="{{ .ReturnURL }}">
            Return to Publisher
        </a>
        <hr/>
        <h2 class="h4 my-4 font-weight-normal">Advert Suppliers</h2>
        {{ if .Offer }}
        {{ $personalize := eq .Offer.PreferencesAsString "on" }}
        {{ if $personalize }}
        <p>The companies with green dots next to them helped choose this advert and might have personalized this advert for you.</p>
        {{ else }}
        <p>None of the companies with green dots next to them personalized this advert to you.</p>
        {{ end }}
        {{ if .Root }}
        <table class="table mt-4 mb-4 bg-dark text-white">
            <tbody>
                {{ $root := .Root }}
                {{ range $key, $value := .OWIDs }}
                <tr>
                    <td class="text-left">
                        <script>new owid().appendName(
                                document.currentScript.parentNode,
                                "{{ $key.AsString }}")
                        </script>
                    </td>
                    <td class="text-center">
                        {{ $first := $root.AsString }}
                        {{ if eq $root.AsString $key.AsString }}
                        {{ $first = ""}}
                        {{ end }}
                        <script>new owid().appendAuditMark(
                                document.currentScript.parentNode,
                                "{{ $first }}",
                                "{{ $key.AsString }}");
                        </script>
                        <noscript>JavaScript needed to audit</noscript>
                    </td>
                    <td class="text-center">
                        {{ $role := role $value }}
                        {{ if eq $role "Bid" }}
                        <img src="/noun_movie ticket_1807397.svg" />
                        {{ end }}
                        {{ if eq $role "Failed" }}
                        <p>{{ $value.Host }} {{ $value.Error }}</p>
                        {{ end }}
                    </td>
                    <td class="text-center">
                        <script>new owid().appendComplaintEmail(
                                document.currentScript.parentNode,
                                "{{ $root.AsString }}",
                                "{{ $key.AsString }}",
                                "/noun_complaint_376466.svg");
                        </script>
                        <noscript>JavaScript needed for complaint email</noscript>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        {{ end }}
        {{ if eq $personalize false }}
        <p>If you have reason to believe the company might have personalized 
            this advert without your permission tap the icon to the right of the 
            name to contact them directly.</p>
        {{ end }}
        {{ end }}
        <hr />
        <h2 class="h4 my-4 font-weight-normal">Stop Advert</h2>
        <p>Don't like this advert? Just tap the button to stop it appearing again.</p>
        <script>
            function stopAdvert() {
                {{ if and .Root .Bid }}
                new owid().stop("{{ .Root.AsString }}", "{{ .Bid.AdvertiserURL }}", "{{ .ReturnURL }}");
                {{ end }}
            }
        </script>
        <noscript>JavaScript needed to stop adverts</noscript>
        <button type="submit" class="my-4 btn btn-primary text-center" onclick="stopAdvert()">
            Stop this Ad.
        </button>
        <p>This preference uses cookies. If you or your browser vendor wipes cookies then you might see this advert
            again.</p>
    </main>
    <footer class="mt-auto">
        <p><a href="//swan-demo.uk">Return to SWAN demo</a></p>
    </footer>
</body>
</html>