.form-group {
  position: relative;
}

.advert-stop {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
}

.advert-button {
  border: none;
  padding: 0;
  margin: 0;
}

.advert-button img {
  height: 240px;
  max-width: 100%
}

.figure {
  height: 277px;
}