<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/svg+xml" href="noun_Swan_3263882.svg">
  <title>New Pork Limes | SWAN Demo</title>
  <link href="bootstrap.min.css" rel="stylesheet">
  <link href="blog.css" rel="stylesheet">
</head>

<body>

  {{ if .SupportsHTTPS}}
  <script>
    if (location.protocol !== "https:"){
      location.replace(window.location.href.replace("http:", "https:"));
    }
  </script>
  {{ end }}

  <div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="text-muted" href="//swan-demo.uk">SWAN Demo</a>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="//swan-demo.uk">New Pork Limes</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="text-muted" href="//swan-demo.uk">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3">
              <circle cx="10.5" cy="10.5" r="7.5"></circle>
              <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
            </svg>
          </a>
          <a class="btn btn-sm btn-outline-secondary" href="//swan-demo.uk">Sign up</a>
        </div>
      </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="//swan-demo.uk">World</a>
        <a class="p-2 text-muted" href="//swan-demo.uk">U.S.</a>
        <a class="p-2 text-muted" href="//swan-demo.uk">Technology</a>
        <a class="p-2 text-muted" href="//swan-demo.uk">Design</a>
        <a class="p-2 text-muted" href="//swan-demo.uk">Culture</a>
        <a class="p-2 text-muted" href="//swan-demo.uk">Business</a>
        <a class="p-2 text-muted" href="//swan-demo.uk">Politics</a>
        <a class="p-2 text-muted" href="//swan-demo.uk">Opinion</a>
        <a class="p-2 text-muted" href="//swan-demo.uk">Science</a>
        <a class="p-2 text-muted" href="//swan-demo.uk">Health</a>
        <a class="p-2 text-muted" href="//swan-demo.uk">Style</a>
        <a class="p-2 text-muted" href="//swan-demo.uk">Travel</a>
      </nav>
    </div>

    <div class="jumbotron p-3 p-md-5 rounded bg-light">
      <div class="col-md-12 px-0 text-center">
        <figure class="figure">
          {{ if eq .IsCrawler false }}
          <script>
            var p = document.currentScript.parentNode;
            fetch("/advert?placement=heading")
              .then(r => r.text() )
              .then(m => {
                var a = document.createElement("div");
                a.innerHTML = m;
                p.insertBefore(a, p.firstChild);})
              .catch(x => {
                console.log(x);
              });
          </script>
          {{ else }}
          <p>Adverts not displayed to crawlers.</p>
          {{ end }}
          <figcaption class="figure-caption">advert</figcaption>
        </figure>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="//swan-demo.uk">Open Web</a>
            </h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">
              Donec sed odio dui. Etiam porta sem malesuada magna mollis 
              euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <a href="//swan-demo.uk">Continue reading</a>
          </div>
          <!-- https://unsplash.com/photos/nlKFtadpueY -->
          <img class="card-img-right flex-auto d-none d-md-block" src="katarzyna-pracuch-nlKFtadpueY-unsplash.jpg">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Design</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="//swan-demo.uk">Get Digital</a>
            </h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="card-text mb-auto">
              Donec sed odio dui. Etiam porta sem malesuada magna mollis 
              euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <a href="//swan-demo.uk">Continue reading</a>
          </div>
          <!-- https://unsplash.com/photos/xsGxhtAsfSA -->
          <img class="card-img-right flex-auto d-none d-md-block" src="rahul-chakraborty-xsGxhtAsfSA-unsplash.jpg">
        </div>
      </div>
    </div>
  </div>

  <main role="main" class="container mt-2">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
          About the SWAN Demo
        </h3>

        <div class="blog-post">
          <h2 class="blog-post-title">Look and feel</h2>
          <p class="blog-post-meta">January 1, 2021 by <a href="//swan-demo.uk">Swanson</a></p>
          <p>
            Publishers can apply their color scheme and messaging to the 
            SWAN user interface. Try changing preferences with these publishers
            to see the differences.
          </p>
          <ol class="list-unstyled">
            {{ range $publisher := .DomainsByCategory "Publisher" }}
            <li><a href="//{{ $publisher.Host }}">{{ $publisher.Name }}</a></li>
            {{ end }}
          </ol>
        </div>

        <div class="blog-post">
          <h2 class="blog-post-title">Central control</h2>
          <p class="blog-post-meta">January 1, 2021 by <a href="//swan-demo.uk">Cygnet</a></p>
            <p>
              Consent preferences and IDs are shared. Express once. Use 
              everywhere. Change anytime.
            </p>
            <table class="table">
              <thead>
                <th>Field</th>
                <th>Value</th>
              </thead>
              <tbody>
                <tr>
                  <th>CBID</th>
                  <td style="word-break: break-all;" tabindex="0" data-toggle="tooltip" title="{{ .CBIDDomain }} {{ .CBIDDate }}">{{ .CBIDAsString }}</td>
                </tr>
                <tr>
                  <th>SID</th>
                  <td style="word-break: break-all;" tabindex="0" data-toggle="tooltip" title="{{ .SIDDomain }} {{ .SIDDate }}">{{ .SIDAsString }}</td>
                </tr>
                <tr>
                  <th>Allow</th>
                  <td style="word-break: break-all;" tabindex="0" data-toggle="tooltip" title="{{ .AllowDomain }} {{ .AllowDate }}">{{ .AllowAsString }}</td>
                </tr>
              </tbody>
            </table>
            <p>
              <a href="{{ .CMPURL }}">Update Privacy Preferences</a>
            </p>
        </div>
      </div>

      <aside class="col-md-4 blog-sidebar">

        <div class="p-3">
          <h4 class="font-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="//swan-demo.uk">December 2020</a></li>
            <li><a href="//swan-demo.uk">November 2020</a></li>
            <li><a href="//swan-demo.uk">October 2020</a></li>
            <li><a href="//swan-demo.uk">September 2020</a></li>
            <li><a href="//swan-demo.uk">August 2020</a></li>
            <li><a href="//swan-demo.uk">July 2020</a></li>
            <li><a href="//swan-demo.uk">June 2020</a></li>
            <li><a href="//swan-demo.uk">May 2020</a></li>
            <li><a href="//swan-demo.uk">April 2020</a></li>
            <li><a href="//swan-demo.uk">March 2020</a></li>
            <li><a href="//swan-demo.uk">February 2020</a></li>
            <li><a href="//swan-demo.uk">January 2020</a></li>
          </ol>
        </div>

        <div class="p-3">
          <h4 class="font-italic">Other publishers</h4>
          <ol class="list-unstyled">
            {{ range $publisher := .DomainsByCategory "Publisher" }}
            <li><a href="//{{ $publisher.Host }}">{{ $publisher.Name }}</a></li>
            {{ end }}
          </ol>
        </div>
      </aside>

    </div>

  </main>

  <footer class="blog-footer">
    <p>
      <a href="{{ .CMPURL }}">Update Privacy Preferences</a>
    </p>
    <p>
      <a href="//swan-demo.uk">Back to top</a>
    </p>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="jquery-3.2.1.slim.min.js"></script>
  <script src="popper.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="holder.min.js"></script>
  <script>
    Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail'
    });
  </script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>


  <svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none"
    style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
    <defs>
      <style type="text/css"></style>
    </defs><text x="0" y="13"
      style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text>
  </svg>
</body>

</html>